.spec {
  color: pink;
  font-weight: bold;
  font-size: 34px;
}

.center {
  text-align: right;
}

.panel{
  margin: 10px;
}

.panel-title {
  font-size: 36px;
  background-color: pink;
}

.jumbotron {
  background-color: grey;
  margin: 30px;
  border: 2px solid lime;
}

.well {
  background-color: grey;
  border: 4px solid pink;
  margin: 10px;
}

body {
  font-family: 'Shadows Into Light', cursive;
}

p {
  font-size: 24px;
}

h2 {
  font-size: 40px;
  color: pink;
  text-align: center;
}

h3 {
  font-size: 34px;
  text-align: left;
}

li {
  font-size: 20px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

img {
  float: left;
  border: 2px solid lime;
  padding: 10px;
  background-color: pink;
  margin: 10px;
  border-radius: 20%;
  overflow: hidden;
}

ul {
  list-style-type: none; text-align: right;
 }

#second {
  text-align: center;
}

#white {
  color: white;
}
